html{
    box-sizing: border-box;
}

*, *:before,*:after{
    box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

body{
font-family: Verdana, Geneva, Tahoma, serif;
background-color: #07252c;
}

